.AddTask {
	color: white;
	min-height: 550px;
	width: 90%;
}

.task-form {
	background-color: inherit;
	width: inherit;
	height: inherit;
}

.header {
	font-size: 22px;
	color: white;
	text-align: center;
}

